body {
    background-color: #FDF6EF;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #17403F;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
    color: black;
}

th {
    background-color: #eeeeee;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}